[application]
name = zx-cli-ssh

[configuration_files]
{{- $files := list }}
{{- $keys := list "id_ed25519" "id_ed25519.pub" "id_git" "id_git.pub" }}
{{- range $index, $file := $keys }}
{{-   if (joinPath $.chezmoi.homeDir (joinPath ".ssh/" $file) | lstat | not | not )}}
{{-     $files = append $files (joinPath ".ssh/" $file)}}
{{-   end }}
{{- end }}
{{ $files | join "\n" }}
