#!/usr/bin/env bash

{{- $sudo := "sudo " }}
{{- if eq .chezmoi.username "root" }}
{{-   $sudo = "" }}
{{- end }}

# Get executable path of zsh
if [[ ${OSTYPE} = darwin* ]]; then
  if [[ -f "/opt/homebrew/bin/brew" ]]; then
    # For ARM macOS
    eval "$(/opt/homebrew/bin/brew shellenv)"
  fi
fi

zsh_path=$(which zsh)
[ ! -x ${zsh_path} ] && exit 1

# Add zsh to /etc/shells
{{ $sudo }}grep -qF ${zsh_path} /etc/shells || echo "${zsh_path}" | {{ $sudo }}tee -a /etc/shells

# Set zsh as default shell
{{ $sudo }}chsh -s ${zsh_path} ${USER} >/dev/null 2>&1

echo "Successfully set zsh as default shell!"
