#!/usr/bin/env bash

{{- if .system.is_darwin }}

if [[ -f "/opt/homebrew/bin/brew" ]]; then
  # For ARM macOS
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if ! command -v brew >/dev/null 2>&1; then
  echo "Homebrew is not installed."
  exit 1
fi

brew update

brew bundle --no-lock --file=/dev/stdin <<EOF
# https://github.com/Homebrew/homebrew-bundle

# Formulae: 'brew install'
# brew "curl"
brew "git"
# brew "openssh"
brew "wget"
EOF

{{- end }}
