{{- $name := "zikoengxi" }}
{{- $email := "i@zikoengxi.com" }}

{{- if env "CHEZMOI_PROMPT" }}
{{-   $name = promptString "What is your name" $name }}
{{-   $email = promptString "What is your email address" $email }}
{{- end -}}

{{- $enableGitSigning := false }}
{{- $gitSigningKey := (joinPath $.chezmoi.homeDir ".ssh/id_git.pub") }}
{{- if and (eq .chezmoi.username $name) ($gitSigningKey | lstat | not | not) | }}
{{-   $enableGitSigning = true }}
{{- end -}}

data:
  user:
    name: {{ $name | quote }}
    email: {{ $email | quote }}

  git:
    signing:
      enable: {{ $enableGitSigning }}
      key: {{ $gitSigningKey | quote }}
