[storage]
engine = file_system
path = .local/share
directory = mackup

[applications_to_sync]
{{- if .os.is_macos }}
macosx
appcleaner
calibre
iina
stats

zx-app-orbstack
{{- end }}
zx-cli-age
zx-cli-rclone
zx-cli-ssh
