# User-wide configuration
IgnoreUnknown UseKeychain
UseKeychain yes

# Common options
Host *
  AddKeysToAgent yes
  Compression yes
  ForwardAgent yes
  HashKnownHosts no
  ServerAliveCountMax 6
  ServerAliveInterval 15
  StrictHostKeyChecking accept-new
  VerifyHostKeyDNS yes

# Git
{{- /* https://github.blog/2023-03-23-we-updated-our-rsa-ssh-host-key/ */}}
Host github.com gitlab.com bitbucket.org
  UpdateHostKeys yes

# Match all hosts in included configuration files
Match all

{{ $orbstack := joinPath $.chezmoi.homeDir ".orbstack/ssh/config" -}}
{{- if stat $orbstack -}}
# Orbstack
Include {{ $orbstack }}
{{- end }}

{{ $local := joinPath $.chezmoi.homeDir ".ssh/loconfig" -}}
# Local
Include {{ $local }}
