#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" }}

set -eufo pipefail
{{- $sudo := "sudo " }}
{{- if eq .chezmoi.username "root" }}
{{-   $sudo = "" }}
{{- end }}

{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
{{- $packages := list
  "build-essential"
  "curl"
  "gawk"
  "git"
  "htop"
  "openssh-server"
  "tldr"
  "zsh"
}}
{{/* Python build dependencies */}}
{{- $packages = concat $packages (list
  "build-essential"
  "curl"
  "libbz2-dev"
  "libffi-dev"
  "liblzma-dev"
  "libncursesw5-dev"
  "libreadline-dev"
  "libsqlite3-dev"
  "libssl-dev"
  "libxml2-dev"
  "libxmlsec1-dev"
  "tk-dev"
  "xz-utils"
  "zlib1g-dev"
) }}
{{ $sudo }}apt-get update -qq
{{ $sudo }}apt-get install -y -qq --no-install-recommends {{ $packages | join " " }}
{{- end }}

{{- end }}
