#!/usr/bin/env bash
{{ if .os.is_macosx }}

# Install Homebrew if it's not already installed.
if ! command -v brew >/dev/null 2>&1; then
  echo -e "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo -e "Homebrew is installed."
{{- end }}
